<section class="container mx-auto px-4 py-8 space-y-5 mb-55">
  <div class="justify-between my-20 md:flex space-y-10">
    <div class="space-y-3">
      <h1 class="text-3xl md:text-5xl font-bold">My Academy Quest</h1>
      <span class="text-xl block">Pattaradanai Srichon</span>
      <p>Welcome aboard! Here're my ODTS academy checklist</p>
      <%= link_to "Visit My Brag Document", root_path, class: 'btn btn-primary mt-5', id: 'brag-link' %>
    </div>
    <%= image_tag "first_portrait.jpg", class: 'rounded-lg md:w-2/4' %>
  </div>

  <div class="mt-12">
    <div class="flex items-center justify-between mb-4">
      <h1 class="md:text-3xl text-xl font-bold">My Quest Checklist</h1>
      <%= link_to "New Quest", new_quest_path, class: 'btn btn-secondary', data: {turbo_frame: "new_quest"}, id: 'new-quest-button'  %>
    </div>

    <div class="flex flex-col gap-3">
      <%= render @quests %>
    </div>
  </div>
</section>